<div class="dans">
    <a class="nav" href="/">Home</a>
  <img class="img-dan" src="{{image}}" alt="{{name}}">
 <div class="Background">
    <h2>{{name}}</h2>
    <div>Quote: {{quote}}</div>
    <div>Song: {{song}}</div>
    <div>Eye-color: {{eye-color}}</div>
    <div>Age: {{age}}</div>
    <div>Star-sign: {{star-sign}}</div>
  <a href="/profiles/edit/{{id}}">Edit</a>
  </div>
</div>